$bg-color: #f8f8f8;
$text-color: rgb(34, 95, 34);
$text-color2: rgb(255, 248, 224);
$text-color3: #0b4e58;
$text-color4: rgb(3 200 133 / 80%);
$deep-blue: rgba(0, 86, 179, 0.5);
$blue: #0056b3;
$hover-text: #fff;
$dark-green: #037908
