@import "../../styles/variables.scss";

.loader {
  display: block;
  margin: 2rem auto;
  width: 3rem;
  height: 3rem;
  border: 0.4rem solid rgba(0, 123, 255, 0.3);
  border-top: 0.4rem solid #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.home {
  background-image: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-position: absolute;
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
  box-sizing: border-box;

  .homeHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;

    .homeHeaderText {
      h1 {
        color: $blue;
        font-size: 5rem;
        margin-bottom: 0.5rem;
      }

      p {
        color: $deep-blue;
        font-size: 1.5rem;
        max-width: 600px;
        margin: 0 auto;
      }
    }
  }

  .homeTiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    justify-items: center;
    margin-bottom: 5rem;

    .homeTile {
      max-width: 250px;
      padding: 1rem;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      text-align: center;

      .homeTileImage {
        width: 100%;
        height: auto;
        border-radius: 4px;
        margin-bottom: 0.5rem;
      }

      h2 {
        color: $text-color3;
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
      }

      p {
        color: $text-color2;
        opacity: 0.9;
        font-size: 0.875rem;
      }
    }
  }

  .viewMoreButton {
    background-color: $blue;
    color: $hover-text;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ,background-color 0.3s ease;

    &:hover {
        filter: brightness(80%);
        transform: scale(1.1);
    }
  }
}